.footer {
  background-color: #406080;
  color: #fff;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer a {
  color: #fff;
  margin-right: 10px;
  text-decoration: none;
}

.footer-copyright {
  font-weight: bold;
}

.footer-social a {
  color: #fff;
  font-size: 24px;
}
