/* ==========================================================================
Main page styles
========================================================================== */
.hipster {
  display: inline-block;
  width: 100%;
  height: 497px;
  background: url('/content/images/jhipster_family_member_0.svg') no-repeat center top;
  background-size: contain;
}

.navbar-transparent {
  background-color: rgba(0, 0, 0, 0.6); /* Vous pouvez ajuster l'opacité ici */
  transition: background-color 0.3s ease; /* Ajoutez une transition pour une animation en douceur */
}

.badge-css{
  font-size: 16px;
}

.bg-slider{
  border:2px solid rgb(225, 229, 235);
  background:url(' https://img.freepik.com/photos-gratuite/petit-caddie-oranges-arriere-plan_1340-36193.jpg');
 
 /* https://us.123rf.com/450wm/andriiborodai/andriiborodai2305/andriiborodai230502574/204822532-all%C3%A9es-de-supermarch%C3%A9-floues-abstraites-pour-l-ia-g%C3%A9n%C3%A9rative-d-arri%C3%A8re-plan.jpg?ver=6*/
}

/* styles.css */

.text-no-underline {
  text-decoration: none !important;
}

.mycolorText1{
  color: rgba(207, 96, 5, 0.815);
}
.mycolorText2{
  color: #406080;
}
 